.fp_page, .fp_page * {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVY BACKGROUND */
.fp_page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  position: relative;
}

/* CARD */
.fp_card {
  width: 100%;
  max-width: 420px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  padding: 35px;
  border-radius: 18px;

  color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* TEXT */
.fp_card h2 {
  text-align: center;
  font-size: 26px;
}

.fp_card p {
  text-align: center;
  color: #cbd5e1;
  margin-bottom: 20px;
  font-size: 14px;
}

/* INPUT */
.input_group {
  margin-bottom: 15px;
}

.input_group label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  color: #e2e8f0;
}

.input_group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.input_group input::placeholder {
  color: #cbd5e1;
}

/* ERROR */
.input_group span {
  color: #f87171;
  font-size: 12px;
}

/* BUTTON */
.btn {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(90deg, #1e3a8a, #2563eb);
  color: white;

  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
}

/* BOTTOM */
.bottom {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #cbd5e1;
}

.bottom a {
  color: #60a5fa;
  margin-left: 5px;
  text-decoration: none;
}